{include file="plugin/header" /}
{include file="plugin/form" /}
<title>{$Think.session.manage_system_name}-编辑用户角色</title>
<link href="{$Think.config.manage_res}css/plugins/jsTree/style.min.css" rel="stylesheet">
<style>
    .jstree-open>.jstree-anchor>.fa-folder:before{content:"\f07c"}.jstree-default .jstree-icon.none{width:0}
</style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系统设置 > 用户角色列表 > 编辑用户角色</h5>
                        <div class="ibox-tools"></div>
                    </div>
                    <div class="ibox-content">
                        <form action="{:url('manage/UserRole/roleEdit')}" class="form form-horizontal" id="form-role-edit"
                              method="post" onSubmit="return checkRules();">
						    <input type="hidden" id="tid" name="tid" value="{$result.tid}" />
    						<div class="form-group">
                                <label class="col-sm-2 control-label"><span class="c-red">*</span>角色名称</label>
                                <div class="col-sm-10">
                                    <input type="text" id="title" name="title" value="{$result.title}" class="form-control" datatype="*2-20"
                                    sucmsg="通过验证！" nullmsg="角色名称不能为空" errormsg="请填写2到20位字符！" /> 
                                    <span class="help-block m-b-none Validform_checktip">角色名称为2~20位字符</span>
                                </div>
                            </div>
    						<div class="form-group">
                                <label class="col-sm-2 control-label">角色描述</label>
                                <div class="col-sm-10">
                                    <input type="text" id="description" name="description" value="{$result.description}" class="form-control"> 
                                    <span class="help-block m-b-none">角色功能描述</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="c-red">*</span>权限管理</label>

                                <div class="col-sm-10">
                                    <div id="rules">
                                        <ul>
                                        {foreach name="rules" item="vo"}
                                            <li class="jstree-open">
                                                <a href="javascript:;" tid="{$vo.tid}" id="{$vo.tid}" {if condition="in_array($vo['tid'],$rules_data)"} class="jstree-anchor jstree-clicked"{/if}>{$vo.title}
                                                </a>
                                                <ul>
                                                    {foreach name="vo['subs']" item="subVo"}
                                                    <li>
                                                        <a href="javascript:;" tid="{$subVo.tid}" id="{$subVo.tid}" {if condition="in_array($subVo['tid'],$rules_data)"} class="jstree-anchor jstree-clicked"{/if}>{$subVo.title}
                                                        </a>
                                                        <ul>
                                                            {foreach name="subVo['subs']" item="subSubVo"}
                                                            <li>
                                                                <a href="javascript:;" tid="{$subSubVo.tid}" id="{$subSubVo.tid}" {if condition="in_array($subSubVo['tid'],$rules_data)"}class="jstree-anchor jstree-clicked"{/if}>{$subSubVo.title}
                                                                </a>
                                                            </li>
                                                            {/foreach}
                                                        </ul>
                                                    </li>
                                                    {/foreach}
                                                </ul>
                                            </li>
    								    {/foreach}
                                        </ul>
                                    </div>
                                    <input type="hidden" name="rules[]" id="ruless" value="{$result.rules}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序(ASC)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="数字越小越靠前" 
                                    id="sort" name="sort" value="{$result.sort}" >
                                    <span class="help-block m-b-none Validform_checktip">数字越小越靠前</span>
                                </div>
                            </div>
    						<div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="radio radio-info radio-inline" style="padding-left: 40px;">
                                    <input type="radio" id="status-1" name="status" value="1" {if condition="$result['status'] eq 1"}checked{/if} >
                                    <label for="status-1">启用</label>
                                </div>
                                <div class="radio radio-info radio-inline" style="padding-left: 40px;">
                                    <input type="radio" id="status-0" name="status" value="0" {if condition="$result['status'] eq 0"}checked{/if} >
                                    <label for="status-0">停用</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>  
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="&nbsp;保存&nbsp;">
                                    <span id="msgtip" style="margin-left:30px;"></span>
                                </div>
    						</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script>

	function checkRules()
    {
        var data = $('#rules').jstree().get_checked(true); //获取所有选中的节点对象
        var ids="";
        for(i=0;i<data.length;i++)
        {
            ids += data[i].a_attr.tid+",";  //获取选中节点的TID
        }
        if(ids) 
        {
            $('#ruless').val(ids);
        }
    }

    $(function(){
        var tree = jQuery.jstree.reference("#rules");
        $("#rules")
	    .bind("loaded.jstree",function(e,data)
		{
            data.instance.open_all(); //默认开启所有节点
		}).jstree({
            "core":{"check_callback":true,},
            "plugins":["types","wholerow","checkbox"],
            "types":{ "default":{"icon":"fa fa-folder"}, "html":{"icon":"fa fa-file-code-o"} }
        });

        var form = $("#form-role-edit").Validform({
            tiptype:2,
            postonce:true,//让表单只能提交一次，提交成功后再提交表单将不会有操作
            ajaxPost:true,
            tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form"))
                {
                    var objtip=o.obj.siblings(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
                else
                {
                    var objtip=o.obj.find("#msgtip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            },
            callback:function(data) {
                $('#msgtip').text('');//清空表单提示
                if(data.status==1)
                {
                    layer.msg(data.message, {
                                icon: 1,
                                time: 2000
                            }, function(){
                                parent.window.table.bootstrapTable('refresh');
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                            return true;
                }
                else
                {
                    layer.msg(data.message, {icon:2, time:2000});
                    return false;
                }
            }
        });
    });
    </script>
</body>

</html>
